<div class="main-container">
    <div class="card-login">

      <img src="../../../../assets/images/img-acess/u12.png" alt="">

      <div class="inputs">

        <div class="area-input">
          <div class="area-icon" for="user-input" >
            <i class="fa-solid fa-user"></i>
          </div>
          <input id="user-input" placeholder="Usuário ou e-mail">
        </div>

        <div>
          <div class="area-input">
            <div class="area-icon" >
              <i class="fa-solid fa-lock"></i>
            </div>
            <input placeholder="Senha">
          </div>

          <div class="options">
            <div class="remember">
              <input type="checkbox" id="check-remember">
              <label for="check-remember"> Lembrar-me </label>
            </div>
            <p>Esqueceu a senha?</p>
          </div>
        </div>

      </div>


      <button (click)="login()">
        Login
      </button>

      <span class="copy">&copy; SIBN - 2023</span>

    </div>
</div>
