table {
  width: 100%;
  margin-bottom: 30px;

  tr {
    border-bottom: 1px solid #d3d3d3;
  }

  th,
  td {
    padding: 4px 5px;
  }

  tr th:last-child,
  tr td:last-child {
    border: none;
  }


  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
    transition: .3s;
  }
  tbody tr:last-child {
    border: none;
  }

  .contentAction {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

    .buttonAction {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      height: 30px;
      width: 30px;
      border: none;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
    }
  }
}

@media (max-width: 500px) {
  table {

    th,
    td {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 4px 5px;
      border: none;
    }

  }
}
